/* 

Primary color: #4267B2

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(177, 245, 245, 0.76);
}

.scrum-header {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 2px;
  border-radius: 10px;
  background-color: aliceblue;
}

/* .scrum-description-button {
  margin: 2px;
  border-radius: 10px;
  background-color: aliceblue;
} */

.stickie-form {
  width: 100%;
  justify-content: center;
}

.stickie-description {
  display: block;
  width: 250px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.snack-text {
  display: block;
  margin-bottom: 10px;
}

.board-area {
  background-color: rgb(175, 175, 226);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  border: solid;
  min-height: 90vh;
}

.board {
  background-color: aliceblue;
  margin: auto;
  width: 200px;
  min-height: 100%;
  max-height: fit-content;
  text-align: center;
  align-content: center;
  border: solid;
}

.stickie {
  background-color: rgb(252, 249, 244);
  width: 175px;
  height: 200px;
  border: solid;
  margin: auto;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-content {
  display: flex;
  justify-content: center;
}

.ws-selector-container {
  background-color: crimson;
  display: flex;
  justify-content: center;
  width: 33%;
  height: 150px;
  margin: auto;
  border: solid;
  border-radius: 10px;
}

.ws-dropdown {
  display: block;
}

.ws-settings-container {
  background-color: rgb(100, 100, 158);
  display: flex;
  justify-content: center;
  width: 33%;
  height: 150px;
  margin: auto;
  border: solid;
  border-radius: 10px;
}

.ws-name-text-box {
  display: block;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 5px;
}

.user-settings-container {
  background-color: orangered;
  display: flex;
  justify-content: center;
  width: 33%;
  height: 50px;
  margin: auto;
  border: solid;
  border-radius: 10px;
}

.scrum-header {
  display: flex;
  float: right;
  justify-content: space-between;
}

.scrum-buttons:hover {
  cursor: pointer;
}
